<div class="card">
    <div class="card-body" >
        <form #f="ngForm" >
            <div class="form-group">
                <label class="col-md-4">rightAnswer </label>
                <input type="text" class="form-control" [(ngModel)]="this.question.rightAnswer" [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="form-group">
                <label class="col-md-4">duration</label>
                <input type="text" class="form-control" [(ngModel)]="this.question.duration" [ngModelOptions]="{standalone: true}" />
            </div>

            <select>
                    <option *ngFor="let cat of keys(categories)" [ngValue]="categories[cat]">{{cat}}</option>
            </select>
                
            <div class="form-group" *ngIf="this.question && this.question._id">
                <button (click)="updateQuestion()" type="submit" class="btn btn-primary">
                    updateQuestion
                </button>
            </div>

            <div class="form-group" *ngIf="!this.question ||(this.question&& !this.question._id)">
                <button (click)="addQuestion()" type="submit" class="btn btn-primary">
                    addQuestion
                </button>
            </div>

        </form>
    </div>
</div>